<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1" *ngIf="toDoItem.id">
        <input class="form-check-input" type="checkbox" id="flexCheckDefault" [(ngModel)]="toDoItem.isDone" (change)="editItem()">
    </span>                        
    <input 
        type="text" 
        class="form-control" 
        placeholder="List item" 
        aria-label="ListItem" 
        aria-describedby="basic-addon1" 
        [(ngModel)]="toDoItem.text"
        (focusout)="editItem()">  
    <span class="input-group-text" *ngIf="toDoItem.id">
        <a (click)="deleteItem()" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" class="delete mb-2">
            <i class="bi bi-trash-fill delete-icon-size"></i>
        </a>
    </span>
</div>  